@import "tailwindcss";

@config "../tailwind.config.js";


@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

body{
  @apply dark:bg-black text-white;
}                           
.myclass {
  @apply flex items-center justify-center h-screen
        text-3xl font-bold
         text-blue-500
         sm:text-green-500
         md:text-yellow-500
         lg:text-red-50
         border-2 border-pink-500
         bg-amber-700;
}